doctype html 
html 
  head 
    title ML Dance Academy 
    style 
      include ../static/style.css
  body 
    nav#navbar
        ul 
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info] 
            li #[a(href="/") Contact Info] 
    section#intro-section
        | Welcome to ML-dance acadmey 
        | Rock and Roll and dance
    section#mission-section
        h2 Our Mission 
    
    section#sponsers-section
        h2 Our Sponsors     
    footer#footer
        | our footer here                
    script 
      include ../static/index.js    